.detail#skills
	hr
	h3.title.text-uppercase Skills
	hr

	unless _.isEmpty(resume.masterLang)
		#skills.content
			.description
				strong= "Master languages"
			.languages
				|#{resume.masterLang}

	unless _.isEmpty(resume.advancedLang)
		#skills.content
			.description
				strong= "Advance languages"
			.languages
				|#{resume.advancedLang}

	unless _.isEmpty(resume.intermediateLang)
		#skills.content
			.description
				strong= "Intermediate languages"
			.languages
				|#{resume.intermediateLang}
